body {
    padding-top: 115px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chart-container {
    width: 600px;
    height: 400px;
}

.top-margin {
    margin-top: 20px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10em;
    margin-top: -2em;
    margin-left: -3em;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 95px;
    height: 95px;
    padding-top: 0;
}

.navbar-form-nolonga {
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-nolonga { 
    padding: 10px; 
}

.img-logo {
    margin-top: -20px;
}

.nopadding {
   width: 100%;
   height: 100%; 
   padding: 0;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
   margin: 0;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;      
}

/*.nav-tabs > li.active {
    background-color: rgba(140, 197, 63, .05) !important;     
    border-left-style: solid;
    border-right-style: solid;
}*/

/*tab-content {
    background-color: rgba(140, 197, 63, .05) !important;     
    border: 1px solid #dddddd;
}*/

.tab-pane {   
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
