@model IEnumerable<SoldOutBusiness.Models.Category>
@{
    ViewBag.Title = "Category Summary";
}

<div class="row">
    <div class="col-md-12">
        <h1>Category Summary</h1>
        <table class="table table-striped">
            <tbody>
                @foreach (var search in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(search.Name, "Summary", new { Id = search.SearchId })</td>
                        <td>@search.Description</td>
                        <td>@search.SearchResults.Count()</td>
                        <td>@search.LastRun</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

