<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <contexts>
      <context type="SoldOutBusiness.DAL.SearchContext, SoldOutBusiness">
        <!-- The initialiser will drop and re-create the database every time an entity in our model changes -->
        <databaseInitializer type="SoldOutBusiness.DAL.SoldOutDbInitialiser, SoldOutBusiness" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SearchContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SoldOut;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="eBayApplicationId" value="YOUR EBAY APP ID NEEDS TO GO HERE" />
  </appSettings>
</configuration>