@model IEnumerable<SoldOutBusiness.Models.Search>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Searches</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Last Run</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var search in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(search.Name, "Search", new { Id = search.SearchId })</td>
                        <td>@search.Description</td>
                        <td>@search.LastRun</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
